body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 00px;
}

ol, ul {
  padding-left: 30px;
}

.login {
  background-color: #cbefcb;
  height: 100%;
}

.login-container {
  width:40%;
}

.MongoDB-Green-Light {
  width: 133px;
  height: 133px;
  background-color: var(--light-grey-green);
}

.MongoDB-Green-Neutra {
  width: 141px;
  height: 64px;
  font-family: AkzidenzGroteskStd;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--charcoal-grey);
}

.input {
  width: 371px;
  height: 40px;
  border-radius: 2px;
  border: solid 1px #b9bdbe;
  background-color: white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input:focus {
  width: 371px;
  height: 40px;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(78, 175, 233, 0.3);
  border: solid 1px #5caeeb;
  background-color: #eff6ec ;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit {
  width: 89px;
  height: 32px;
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 0 #4c7a2d;
  border: solid 1px #4d7a2d;
  background-image: linear-gradient(to bottom, #6ba442, #5a9330);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.subheader {
  width:100%;
  font-size: 16px;
  color: green;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.parameters {
  font-weight: bold;
  padding:5px;
}

.columnApi {
    word-wrap: break-word;
    background-color:#aaa;
    float: left;
    width: 20%;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
}

.sidebarColumn {
  position: absolute;
  left: 2%;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 15px;
  font-size:20px;
  font-style:bold;
  word-wrap: break-word;
  position: absolute;
}

.button {
    color: #fff;
    -ms-flex-positive: 0;
    flex-grow: 0;
    min-width: 75px;
    background: #7a7b7b;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    height: 100%;
    line-height: 16px;
    margin: 0 1px;
    padding: 4px 8px;
    border-radius: 0;
    user-select: none;
}

.api {
  border-radius: 10px;
  top: 80px;
  width:100%;
  height: 100%;
  bottom: 50px;
  position: absolute;
  right: 0;
  left: 0%;
  overflow-y: auto;
  z-index:1;
  padding-top: 37px;
  padding-bottom: 45px;
  padding-left:10px;
  padding-right:10px;
  margin-right: 226px;
  background-color: #A8FFBB;
}

.locallink {
  font-color:#145a1b;
}

.detailsColumn {
  left: 30%;
  width: 40%;
  height: 100%;
  position: absolute;
  top: 15px;
  font-size:20px;
  font-style:bold;

}

.details {
  word-wrap: break-word;
  position: absolute;
  top: 70px;
  width: 98%;
  height: 100%;
  bottom: 50px;
  right: 0;
  left: 0%;
  overflow-y: auto;
  z-index:1;
  padding-top: 60px;
  padding-bottom: 45px;
  padding-right:20px;
}

.usageColumn {
  word-wrap: break-word;
  position: absolute;
  top: 15px;
  bottom: 50px;
  overflow-y: auto;
  z-index:1;
  left:66%;
}

.headerTitle {
  position: absolute;
  top: 15px;
  font-size:20px;
  font-style:bold;
  height:10px;
}

.usageColumn {
    position: absolute;
    word-wrap: break-word;
    background-color:black;
    color:white;
    float: left;
    width: 33%;
    padding: 20px;
    height: 100%; /* Should be removed. Only for demonstration */
}

.pre {
  background-color:black;
  color:white;
  padding:10px;
}

.pageTitle {
  font-size:20px;
  font-style:bold;
  padding-left:40px;
  height:10px;
}

.response {
  width: 99%;
}

.generic_header {
    background: gray;
    color: gray;
    font-family: courier;
    font-size: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    padding: 10px;
}
.codeblock {
  color: white;
  font-family: courier;
}
